#container-box {
    display: grid;
    height: 700px;
    border: 2px solid gray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.box {
    border: 2px solid rgb(26, 176, 231);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
}

.box:nth-child(1)
.box:nth-child(2)
.box:nth-child(3)
.box:nth-child(5) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
}
.part {
    border: 2px solid red;
    background: #e0ffe0;
    min-height: 40px;
}

h1 {
    background-color: burlywood;
    text-align: center;
}